body {
  /*Proximos eventos*/
  /*Cancionero*/
  /*Botones de HTML cancionero*/
}
body .headerinicio {
  background-color: rgb(217, 217, 217);
}
body .headerinicio .navbar-collapse {
  justify-content: right;
}
body .headerinicio .Titulonavbar {
  color: rgb(89, 89, 89);
  font-size: 1.5rem;
  font-family: "Montserrat thin", sans-serif;
  display: flex;
}
body .cajaImagenesConLink {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
body .cajaImagenesConLink .fotoHorarios {
  border: solid 0.5rem #c8bc9f;
  margin: 1rem;
  transition: height 1s, width 1s;
  height: 80%;
  width: 80%;
}
body .cajaImagenesConLink .fotoHorarios:hover {
  height: 85%;
  width: 85%;
}
body .cajaImagenesConLink .fotoMisasOnline {
  border: solid 0.5rem #c8bc9f;
  margin: 1rem;
  transition: height 1s, width 1s;
  height: 80%;
  width: 80%;
}
body .cajaImagenesConLink .fotoMisasOnline:hover {
  height: 85%;
  width: 85%;
}
body .parroquiaStellaMaris {
  width: 100%;
  height: 75%;
}
body .presentacionsm h2 {
  color: #c8bc9f;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-align: center;
  max-width: 100%;
}
body .presentacionsm #presentacion {
  color: black;
  background-color: white;
  font-family: "Hind", sans-serif;
  font-size: 1rem;
  text-align: center;
  max-width: 100%;
}
body footer {
  background-color: #c8bc9f;
}
body footer ul {
  list-style-type: none;
  list-style: none;
}
body footer a {
  text-decoration: none;
}
body footer .fa-instagram {
  font-size: 2em;
  color: rgba(248, 248, 232, 0.806);
  display: flex;
  padding: 0.5rem;
  justify-content: center;
}
body footer .fa-youtube {
  font-size: 2em;
  color: rgba(248, 248, 232, 0.806);
  display: flex;
  padding: 0.5rem;
  justify-content: center;
}
body footer .fa-instagram:hover {
  color: white;
}
body footer .fa-youtube:hover {
  color: white;
}
body footer .hola {
  margin: 0%;
}
body footer .small {
  font-size: 1em;
  color: rgba(248, 248, 232, 0.806);
}
body .tabla {
  display: flex;
  justify-content: center;
  border-style: double;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
body .mi-boton {
  background-color: #c8bc9f;
  border: none;
  color: white;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 1em;
  cursor: pointer;
  border-radius: 100px;
  font-family: "Hind", sans-serif;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
body .mi-boton:hover {
  background-color: white;
  color: #c8bc9f;
}
body .centrar-boton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  font-family: "Hind", sans-serif;
  font-size: 1em;
}
body .flex-container {
  display: flex;
  background-color: transparent;
  padding: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
body .flex-container h2 {
  color: #c8bc9f;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-align: center;
  max-width: 100%;
}
body .flex-container .caja {
  color: black;
  font-family: "Hind", sans-serif;
  text-align: center;
  margin: 1rem;
}
body .formulariodecontacto {
  background-color: #c8bc9f;
  margin: 10rem;
  padding-bottom: 2rem;
  padding-top: 0.1rem;
  border-radius: 1rem;
  border: 1vh solid #b8aa89;
}
body .formulariodesuscripcion {
  display: flex;
  background-color: #c8bc9f;
  margin: 10rem;
  padding-bottom: 2rem;
  padding-top: 0.1rem;
  padding-right: 5rem;
  border-radius: 1rem;
  border: 1vh solid #b8aa89;
}
body .submit1 {
  padding: 3rem;
}
body .barritaarriba {
  display: flex;
  width: 100%;
  background-color: #c8bc9f;
  color: transparent;
  height: 3vh;
  margin: none;
  padding: none;
}
body .barritaabajo {
  display: flex;
  width: 100%;
  background-color: #c8bc9f;
  color: transparent;
  height: 1vh;
  margin: none;
  padding: none;
}
body h2 {
  color: #c8bc9f;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-align: center;
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
