$color-primario: #c8bc9f;
$color-secundario: white;
$color-terciario: black;
$color-cuaternario: #b8aa89;
$color-quinto: rgb(207, 189, 177);
$color-hovers: rgba(248, 248, 232, 0.806);

$font-textos: 'Montserrat', sans-serif;
$font-otros: 'Hind', sans-serif;