@import '_variables.scss';
body {
    .headerinicio {
        background-color: rgb(217, 217, 217);

        .navbar-collapse {
            justify-content: right;
        }

        .Titulonavbar {
            color: rgb(89, 89, 89);
            font-size: 1.5rem;
            font-family: $font-textos;
            display: flex;
        }
    }

    .parroquiaStellaMaris { 
        height: 75%;
        width: 100%;
    }

    @keyframes cambioBienvenidos {
        0% {
          background-color:$color-primario;
        }
        50% {
          background-color: rgb(171, 130, 97);
          transform: scale(1.1);
        }
        100% {
          background-color: rgb(103, 79, 59);
        }
      }
      
      .bienvenidos {
        @extend %titulospaginas;
      }

      .suscribite {
        @extend %titulospaginas;
        border: solid 1px $color-terciario;
      }

      .contactanos {
        @extend %titulospaginas;
      }

      .descargacancionero {
        @extend %titulospaginas;
      }

      .fijatefechas {
        @extend %titulospaginas;
      }
      

    .cajaImagenesConLink {
        @include centrar-elemento;
        padding: 1rem;



        .fotoHorarios {
            border: solid 0.5rem $color-primario;
            margin: 1rem;
            transition: height 1s, width 1s;
            height: 80%;
            width: 80%;
        }

        .fotoHorarios:hover {
            height: 85%;
            width: 85%;
        }


        .fotoMisasOnline {
            border: solid 0.5rem $color-primario;
            margin: 1rem;
            transition: height 1s, width 1s;
            height: 80%;
            width: 80%;
        }

        .fotoMisasOnline:hover {
            height: 85%;
            width: 85%;
        }
    }

    .parroquiaStellaMaris {
        width: 100%;
        height: 75%;
    }

    .presentacionsm {
        h2 {
            color: $color-primario;
            background-color: $color-secundario;
            font-family: $font-textos;
            font-size: 2rem;
            text-align: center;
            max-width: 100%;
        }

        #presentacion {
            color: $color-terciario;
            background-color: $color-secundario;
            font-family: $font-otros;
            font-size: 1rem;
            text-align: center;
            max-width: 100%;
        }
    }

    footer {
        background-color: $color-primario;

        ul {
            list-style-type: none;
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        .fa-instagram {
            font-size: 2em;
            color: $color-hovers;
            display: flex;
            padding: 0.5rem;
            justify-content: center;
        }

        .fa-youtube {
            font-size: 2em;
            color:$color-hovers;
            display: flex;
            padding: 0.5rem;
            justify-content: center;
        }

        .fa-instagram:hover {
            color: $color-secundario;
        }

        .fa-youtube:hover {
            color: $color-secundario;
        }

        .hola {
            margin: 0%;
        }

        .small {
            font-size: 1em;
            color: rgba(248, 248, 232, 0.806);
        }
    }

    /*Proximos eventos*/
    .tabla {
        display: flex;
        justify-content: center;
        border-style: double;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    /*Cancionero*/

    /*Botones de HTML cancionero*/

    .mi-boton {
        background-color: $color-primario;
        border: none;
        color: $color-secundario;
        padding: 1% 2%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        margin: 1em;
        cursor: pointer;
        border-radius: 100px;
        font-family: $font-otros;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }


    .mi-boton:hover {
        background-color: $color-secundario;
        color: $color-primario;
    }

    .centrar-boton {
        @include centrar-elemento;
        height: 12vh;
        font-family: $font-otros;
        font-size: 1em;
    }

    .flex-container {
        display: flex;
        background-color: transparent;
        padding: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        h2 {
            color: $color-primario;
            background-color: $color-secundario;
            font-family: $font-textos;
            font-size: 2rem;
            text-align: center;
            max-width: 100%;
        }

        .caja {
            color: black;
            font-family: $font-otros;
            text-align: center;
            margin: 1rem;
        }
    }


    .formulariodecontacto {
        background-color: $color-primario;
        margin: 10rem;
        padding-bottom: 2rem;
        padding-top: 0.1rem;
        border-radius: 1rem;
        border: 1vh solid #b8aa89;
    }

    .formulariodesuscripcion {
        display: flex;
        background-color: $color-primario;
        margin: 10rem;
        padding-bottom: 2rem;
        padding-top: 0.1rem;
        padding-right: 5rem;
        border-radius: 1rem;
        border: 1vh solid #b8aa89;
    }


    .submit1 {
        padding: 3rem;
    }

    .barritaarriba {
        display: flex;
        width: 100%;
        background-color: $color-primario;
        color: transparent;
        height: 3vh;
        margin: none;
        padding: none;

    }

    .barritaabajo {
        display: flex;
        width: 100%;
        background-color: $color-primario;
        color: transparent;
        height: 1vh;
        margin: none;
        padding: none;
    }

    h2 {
        color: $color-primario;
        background-color: $color-secundario;
        font-family: $font-textos;
        font-size: 2rem;
        text-align: center;
        max-width: 100%;
    }
}