body {
    background-color: rgb(194, 173, 148);
}

h1 {
    color: rgb(255, 236, 210);
}

.titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 236, 210);
    display: flex;
    justify-content: center;
    font-size: 3rem;
}